.format-check-folder-input {
	width: 100%;
}

.format-check-dot {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: var(--format-check-dot-color, #f59e0b);
	flex-shrink: 0;
	margin-left: 5px;
	vertical-align: middle;
	align-self: center;
}
